.navbar-container {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: 5vh;
    background-color: #1a202c;
    border-bottom: 1px solid #474769;
}

.logo {
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 5rem;
    gap: 1rem;
}

.logo-img-navbar {
    width: 5%;
    height: 50%;
}

.home-link {
    font-size: 2rem;
}

.link-container {
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;

    gap: 2rem;
    padding-right: 5rem;
}

.link-items {
    font-size: 1.25rem;
    color: #535bf2;
}