.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: none;
  margin: none;
}

.app-title {
  font-size: 3rem;
  margin: 0;
  margin-top: 50px;
}

.grad-title{
  background: linear-gradient(to right, #d69e2e, #535bf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title-sub {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: grey;
}

.app-sub {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  align-self: baseline;
}

.spinner{
  display: flex;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 1rem;
  justify-content: center;
}

.left-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.user-container{
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: #1a202c;
  border-radius: 10px;
  padding: 1rem;
  align-items: baseline;
  gap: 1rem;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;

  gap: 2rem;
}

.user-prompt {
  width: 99%;
  height: 12rem;
  border: 1px solid #474769;
  background-color: #2d3748;
  border-radius: 15px;
  resize: none;
  padding-left: 0.5rem;
  padding-top: 0.5rem;

  font-size: 1.25rem;
}

.genButton {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;

  background: linear-gradient(to right, #d69e2e, #535bf2);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}

.genButton:hover{
  opacity: 0.9;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.json-btn{
  display: flex;
  width: 10%;
  height: 3vh;
  border-color: #d69e2e;
  background-color: white;
  color: #d69e2e;
  justify-content: space-evenly;
  align-items: center;
}

.json-btn span {
  font-size: 1rem;
}

.json-btn:hover {
  background-color: #d69e2e;
  color: white;
}

.list-header{
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-self: center;
  text-align: center;
  width: 80%;
}

.list-title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-number-1-3 {
  width: 2rem;
  height: 2rem;
  text-align: center;
  background-color: #d69e2e;
  border-radius: 999px;
}

.list-number-2-4 {
  width: 2rem;
  height: 2rem;
  text-align: center;
  background-color: #535bf2;
  border-radius: 999px;
}

.list-tab{
  background-color: #1a202c;
  border-radius: 10px;
  border: solid 1px grey;
  text-align: left;
  width: 100%;
  padding-left: 1rem;
  height: fit-content;
}

.list-tab:hover {
  border: solid 1px #535bf2;
}

.listings{
  list-style-type: none;
  padding: 0;
  line-height: 2rem;
}

.listings li {
  font-size: 1.2rem;
}

.list-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

.mapping-title {
  font-size: 1.4rem;
}

.mapping-item {
  font-size: 1.2rem;
}

.right-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.right-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.download-logo {
  background-color: white;
  fill: none;
  width: 1.25rem;
  height: 1.25rem;
}

.diagram-btn {
  display: flex;
  width: 10%;
  height: 3vh;
  justify-content: space-evenly;
  align-items: center;
  border-color: #535bf2;
  background-color: white;
  color: #535bf2;
}

.diagram-btn span {
  font-size: 1rem;
}

.roadmap-show {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: space-between;
  border-radius: 20px;

  gap: 2rem;
  border: 1px solid #474769;
}

.mermaid-container {
  align-content: top;
  width: 100%;
  overflow-x: auto;
  background-color: #1a202c;
}

.mermaid-container h2 {
  color: white;
}